/*****颜色*****/
$c-primary-7: #0E42D2;
$c-primary-6: #165DFF;
$c-primary-5: #4080FF;
$c-primary-4: #6AA1FF;
$c-primary-3: #94BFFF;
$c-primary-2: #BEDAFF;
$c-primary-1: #E8F3FF;

$c-primary-light-7: rgba(14, 66, 210, 0.10);
$c-primary-light-6: rgba(22, 93, 255, 0.10);
$c-primary-light-5: rgba(64, 128, 255, 0.10);
$c-primary-light-4: rgba(106, 161, 255, 0.10);
$c-primary-light-3: rgba(148, 191, 255, 0.10);
$c-primary-light-2: rgba(190, 218, 255, 0.10);
$c-primary-light-1: rgba(232, 243, 255, 0.10);

$c-text-5: #1D2129;
$c-text-4: #4E5969;
$c-text-3: #86909C;
$c-text-2: #C9CDD4;
$c-text-1: #FFFFFF;

$c-fill-5: #4E5969;
$c-fill-4: #C9CDD4;
$c-fill-3: #E5E6EB;
$c-fill-2: #F2F3F5;
$c-fill-1: #F7F8FA;

$c-line-4: #86909C;
$c-line-3: #C9CDD4;
$c-line-2: #E5E6EB;
$c-line-1: #F2F3F5;

/***Functional color***/
$c-success-7: #009A29;
$c-success-6: #00B42A;
$c-success-5: #23C343;
$c-success-3: #7BE188;
$c-success-2: #AFF0B5;
$c-success-1: #E8FFEA;

$c-warn-7: #D25F00;
$c-warn-6: #FF7D00;
$c-warn-5: #FF9A2E;
$c-warn-3: #FFCF8B;
$c-warn-2: #FFE4BA;
$c-warn-1: #FFF7E8;

$c-error-7: #CB2634;
$c-error-6: #F53F3F;
$c-error-5: #F76560;
$c-error-3: #FBACA3;
$c-error-2: #FDCDC5;
$c-error-1: #FFECE8;

/***其他系统色***/
$c-cyan-7: #0AA5A8;
$c-cyan-6: #0FC6C2;
$c-cyan-5: #33D1C9;
$c-cyan-3: #86E8DD;
$c-cyan-2: #B5F4EA;
$c-cyan-1: #E8FFFB;

$c-orange-7: #CC5120;
$c-orange-6: #F77234;
$c-orange-5: #F99057;
$c-orange-3: #FCC59F;
$c-orange-2: #FDDDC3;
$c-orange-1: #FFF3E8;

$c-gold-7: #CC9213;
$c-gold-6: #F7BA1E;
$c-gold-5: #F9CC45;
$c-gold-3: #FCE996;
$c-gold-2: #FDF4BF;
$c-gold-1: #FFFCE8;

$c-blue-7: #206CCF;
$c-blue-6: #3491FA;
$c-blue-5: #57A9FB;
$c-blue-3: #9FD4FD;
$c-blue-2: #C3E7FE;
$c-blue-1: #E8F7FF;

$c-purple-7: #551DB0;
$c-purple-6: #722ED1;
$c-purple-5: #8D4EDA;
$c-purple-3: #C396ED;
$c-purple-2: #DDBEF6;
$c-purple-1: #F5E8FF;

$c-yellow-7: #CFAF0F;
$c-yellow-6: #FADC19;
$c-yellow-5: #FBE842;
$c-yellow-3: #FDFA94;
$c-yellow-2: #FEFEBE;
$c-yellow-1: #FEFFE8;

$c-lime-7: #7EB712;
$c-lime-6: #9FDB1D;
$c-lime-5: #B5E241;
$c-lime-3: #DCF190;
$c-lime-2: #EDF8BB;
$c-lime-1: #FCFFE8;

$c-pinkpurple-7: #B010B6;
$c-pinkpurple-6: #D91AD9;
$c-pinkpurple-5: #E13EDB;
$c-pinkpurple-3: #F08EE6;
$c-pinkpurple-2: #F7BAEF;
$c-pinkpurple-1: #FFE8FB;

$c-magenta-7: #CB1E83;
$c-magenta-6: #F5319D;
$c-magenta-5: #F754A8;
$c-magenta-3: #FB9DC7;
$c-magenta-2: #FDC2DB;
$c-magenta-1: #FFE8F1;