/* 
 * 滚动条 😊 2022/11/17
 */
.scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  // &::-webkit-scrollbar-track {
  //   background: rgba(144, 147, 153);
  //   border-radius: 2px;
  // }
  &::-webkit-scrollbar-thumb {
    background: rgba(144, 147, 153);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(144, 147, 153, .5);
  }

  &::-webkit-scrollbar-corner {
    background: #179a16;
  }
}